@model CursoSwitcher.Models.RequestsModel

@{
    var TITLE = "Crear nueva Solicitud";
    ViewData["Title"] = TITLE;
}

<h1>@TITLE</h1>

<hr />





<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ProfileId" value="@ViewBag.ProfileId" hidden/>
            </div>

            <div class="form-group">
                <label asp-for="RequestedCourseId" class="control-label">Seleccionar Curso Deseado</label>
                <select asp-for="RequestedCourseId" class ="form-control" asp-items="ViewBag.RequestedCourseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OfferedCourseId" class="control-label">Seleccionar Curso Actual</label>
                <select asp-for="OfferedCourseId" class ="form-control" asp-items="ViewBag.OfferedCourseId"></select>
            </div>
            <div class="form-group" style="display:inline-block;">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
            <div style="display:inline-block;">
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@TempData["AlreadyExists"]

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
