@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="text-align:center">
<img src="~/statics/404NOT_FOUND.png" style="width:850px; height:auto; text-align:center;">
<br />
@if(User.Identity.IsAuthenticated) 
{
    <a asp-area="" asp-controller="Dashboard" asp-action="Index">Volver a mis solicitudes.</a>
} else {
    <a asp-area="" asp-controller="Login" asp-action="Index">Iniciar sesión.</a>
}

</div>