
<h1>BackOffice - Course Exchanger</h1>
<ul>
    <li><a asp-area="" asp-controller="Campus" asp-action="Index">Administrar Sedes</a></li>
    <li><a asp-area="" asp-controller="Career" asp-action="Index">Administrar Carreras</a></li>
    <li><a asp-area="" asp-controller="Courses" asp-action="Index">Administrar Cursos</a></li>
    <li><a asp-area="" asp-controller="Profile" asp-action="Index">Administrar Perfiles</a></li>
    <li><a asp-area="" asp-controller="Requests" asp-action="Index">Administrar Peticiones</a></li>
</ul>