
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<div class="wrapper fadeInDown">
    <!--Snippet https://bootsnipp.com/snippets/dldxB Thank you!!-->
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <br>
      <img src="./statics/Logo_ORT.svg" id="icon" alt="User Icon" style="padding-bottom:50px; padding-top:50px" />
      <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/ORT_Logo.svg/1200px-ORT_Logo.svg.png" id="icon" alt="User Icon" />-->
    </div>

    <!-- Login Form -->
    <form method="post">
      <input type="text" id="login" class="fadeIn second" name="dni" placeholder="Documento">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
      <input type="submit" class="fadeIn fourth" value="Ingresar" style="margin-bottom:50px; margin-top:50px">
    </form>

    <div id="formFooter">
      <p><a asp-area="" asp-controller="SignUp" asp-action="Index">¿No tiene cuenta?</a></p>
    </div>

  </div>

</div>

