

<h1>Inicio de sesión</h1>

<form method="post">
    <input type="text" name="dni" placeholder="Documento" />
    <input type="password" name="password" placeholder="Contraseña" />
    <input type="submit" value="Ingresar" />
</form>
<p><a href="">¿No puede acceder?</a></p>

@TempData["Message"]

