html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.commonButton {
    background-color: #024A83;
    color: whitesmoke;
    padding: 12px 14px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}


 .buttonOrt:hover {
        transition: all 0.5s ease-in-out;
        transform: scale(1.05);
        color: white;
        
    }

.buttonOrt {
    background-color: #024A83;
    border-radius: .25rem;
    color: whitesmoke;
    padding: .375rem .75rem;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    -webkit-box-shadow: 0 8px 6px -6px #313131;
    -moz-box-shadow: 0 8px 6px -6px #313131;
    box-shadow: 0 8px 6px -6px #313131;
}

     .commonButton:hover, .buttonOrt:hover {
        transition: all 0.5s ease-in-out;
        transform: scale(1.05);
        color: white;
        
    }
